* {margin: 0;padding: 0;}
a {text-decoration: none;}
body {background: #747980 url('images/wall8.jpg') no-repeat center center;background-size: cover;}

main {
  /* 使键盘整体居中 */
  display: flex;
  /* 左右居中 */
  align-items: center;
  /* 上下居中 */
  justify-content: center;

  text-align: center;
  /* 让 main 与 body 一样高*/
  height: 100vh;
}

.row {
  margin: 7px 0;
}
.row .key {
  margin: 0 5px;
  position: relative;
}
.row .key .keytext {
  position: absolute;
  left: 4px;
  top: 4px;
}
.row .key > img {
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

#wrapper {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

#wrapper > div {
}
#wrapper > div:nth-child(2) {
  margin-left: -28px;
}
#wrapper > div:nth-child(3) {
  margin-left: -85px;
}
#wrapper > div > kbd {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  position: relative;

  color: #f7f7f7;
  /* background css gradient*/
  background: linear-gradient(to bottom, #292929 0%, #111111 100%);
  border: none;
  border-radius: 6px;
  /* 外围两圈 box-shadow,再加一层下面的阴影 */
  box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f2020, 0 3px 2px #080808;

  font-size: 16px;
  font-family: Helvetica;
}
#wrapper > div > kbd > button {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
#wrapper > div > kbd:hover > button {
  display: inline-block;
}
